TODO.txt

node_modules/

# Clojure- and editor-related files
.shadow-cljs/
.calva/
# .clj-kondo/
.clj-kondo/cache/
.clj-kondo/.cache/
.lsp/

# System Files
.DS_Store
Thumbs.db

# Temp file I occasionally use for piping into long commit messages
commit.txt

# Output/build dirs
public/js/
public/*.css
dev_out/
dist/

Session.vim