{:source-paths ["src"]
 :dependencies []
 :dev-http {8080 "public"}
 :nrepl {:port 3333}
 :builds
  {:app {:output-dir "public/js"
         :asset-path "/js" ;; NOTE: relative to server root
         :target :browser
         :modules {:main {:init-fn app.main/main}}}}}