{:source-paths ["src" "test"]
 :dependencies [[hashp "0.2.0"]
                [cider/cider-nrepl "0.24.0"]
                [reagent "1.1.1"]]
 :dev-http {8080 "public"}
 :nrepl {:port 3333}
 :builds
  {:app {:target :browser
         :output-dir "public/js" ;; NOTE: relative to server root
         :asset-path "/js"
         :modules {:main {:init-fn drop.app.main/main}}
         :nrepl {:init-ns user}
         :devtools {:preloads [hashp.core]}}
   :electron {:target :node-script
              :main drop.electron.core/main
              :output-to "public/js/electron.js"}
   :node-test {:target :node-test
               :ns-regexp "(?<!browser)-test$" ;; every ns ending in '-test' but not '-browser-test'
               :output-to "out/node_test.js"}
   :browser-test {:target :karma
                  :ns-regexp "-browser-test$" ;; every ns ending in 'browser-test'
                  :output-to "out/browser_test.js"}
   :test-dll {:target :node-test
              :ns-regexp "slate.dll-test$"
              :output-to "out/dll_test.js"
              :autorun true}
   ;; Storybook stories
   :stories  {:target :npm-module
              :ns-regexp  "drop.stories.*-story$"
              :output-dir "out/js/stories"}}}
