{:skip-comments true
 :lint-as {slate.interceptors/definterceptor clojure.core/defn
           reagent.core/with-let clojure.core/let}
 :linters {:unresolved-symbol {:exclude [(slate.interceptors/interceptor)
                                         #_(slate.interceptors/definterceptor)]}}}